header{
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: #00BBFF;
	z-index: 100;
}

.threebar{
	width: 17px;
	height: 14px;
	background-image: url(image/h017/icon-bar.png);
	margin: 12px;
}

.maindiv{
	width: 100%;
	height: 1000px;
	padding-top: 40px;
	background-color: #EEE;
	z-index: 99;
}

.mybtn{
	width: 90%;
	height: 80px;
	margin: 5%;/*居中用百分比*/
	margin-top: 10px;
}
.backicon{
	float: right;
}

.table{
	width: 90%;
	height: 500px;
	margin: 5%;
	background-color: white;
	border: 1px solid #aaa;
	/*使下面的triangle相对于此绝对定位*/
	position: relative;
}
.table1{
	height: 50px;
	font-size: 30px;
	border-bottom: 1px solid #EEAA00;
	text-align: center;
	color: #EEAA00;
}
.mybtn2{
	/*宽度，位置控制*/
	width: 80%;
	height: 80px;
	margin: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	/*按钮背景颜色*/
	background-color: #00BBFF;
	/*文字颜色*/
	color: white;
	/*文字*/
	font-size: 25px;
}
.myp{
	text-align: center;
	color: blue;
}


.controller {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.9rem;
}
.pointer {
	background-color: #f0f0f0;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 100px;
	margin-left: 0.5rem;
}
.pointer.active {
	background-color:#69d1e9;
}


.nextpage{
	position: absolute;
	top: 50%;
	right: 5px;
}









/*h017task72 css*/
.barborder{
	width: 20px;
	height: 20px;
	background-image: url(image/h017/bars.png);
	background-size: cover;/*不改变原图长宽比 放大缩小原图，使其填充给定区域*/
	
	position: absolute;
	top: 12px;
	left: 12px;
}
.absolutecenter{
	position: absolute;
	top: 5px;
	left: 45%;
	color: white;
	font-size: 20px;
}
.absoluterights{
	width: 20px;
	height: 20px;
	background-image:url(image/h017/close.png);
	background-size: cover;

	position: absolute;
	top: 12px;
	right: 12px;
}


/*主体*/
.maindiv2{
	width: 100%;
	height: 1000px;
	padding-top: 40px;
	background-color: #00BBFF;
	z-index: 98;
}


/*lightblue部分*/
.lightblue{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #00FFFF;
	z-index: 99;
}
.audiotext{
	position: absolute;
	line-height: 50px;
	left: 20px;
}
.audioicon{
	width: 30px;
	height: 30px;
	background-image: url(image/h017/play.png);
	background-size: cover;
	position: absolute;
	top: 10px;
	right: 5px;
}
.from{
	width: 5px;
	height: 5px;
	background-image: url(image/h017/3x.png);
	background-size: cover;
	position: absolute;
	bottom: -5px;
	left: 20px;
}
.outertext{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 20px;
	top: 60px;
	color: white;
	font-size: 10px;
}




/*house部分*/
.onehouse{
	display: inline-block;
	position: relative;
	width: 22vw;
	height: 22vw;
	margin: 5%;
	background-color: #FFBB66;
	border: 1px solid white;
}
.none{
	width: 100%;
	height: 35px;
}
.namediv{
	width: 22vw;
	height: 16vw;
	margin: 0;
	line-height: 16vw;
	text-align: center;
}
.numberdiv{
	width: 21vw;
	height: 5vw;
	background-color: #BC8F8F;
	line-height: 6vw;
	text-align: center;
}



.operation {
	width: 100%;
	position: absolute;
	bottom: -25%;
	left: 0;
	display: flex;
	justify-content: space-between;
	opacity: 0;
}
/*operation类的块下面的img*/
.operation img{
	background-color: white;
	width: 4vw;
	height: 4vw;
}
.onehouse:hover .operation {
	opacity: 1;
}
a{
	color: black;
}
/*未被访问的链接样式*/
a:link{
	text-decoration:none;
}



/*底部*/
footer{
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #00BBFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a{
	background-color: #FFBB66;
	width: 75vw;
	height: 40px;
	line-height: 40px;
	font-size: 25px;
	color: white;
	text-align: center;
}









/*h017task3部分*/
.task3{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #74d4eb;
}
.houseicon{
	width: 30px;
	height: 25px;
	margin: 2px;
	background-image: url(image/h017/home.png);
	background-size: cover;
}
.headtext{
	line-height: 40px;
	font-size: 22px;
	color: white;
}
.infoicon{
	width: 25px;
	height: 25px;
	margin: 2px;
	background-image: url(image/h017/info.png);
	background-size: cover;
}


/*主体1*/
.bigdiv1{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 40px;
	width: 100%;
	height: 400px;
	background-color:#00BBFF; 
}
.imgdiv{
	width: 170px;
	height: 100px;
	margin: 10px 30px 10px 30px;
	background-image: url(image/h017/victory.png);
	background-size: cover;
}
.text1{
	width: 230px;
	font-size: 20px;
	color: orange;
}
.text2{
	width: 230px;
	font-size: 12px;
	color: white;
}

/*主体2*/
.bigdiv2{
}
.aday{
	width: 100%;
	height: 85px;
	padding: 5px 20px;
	border-bottom: 1px solid grey;
}
.fright{
	float: right;
}
b{
	font-size: 18px;
	padding: 3px;
}
span{
	font-size: 12px;
	color: grey;
	padding:3px;
}
.smlevent{
	font-size: 12px;
	color: grey;
	padding: 3px;
}


/*底部*/
.task3footer{
	background-color: rgba(41,189,224,.48);
}
.btn1{
	width: 120px;
	height: 35px;
	margin: 10px;
}
.btn2{
	width: 120px;
	height:35px;
	margin: 10px;
}
